#set-default-schedule-form form {
  background-color: var(--tb-service-background-0);
  border: 1px solid var(--tb-service-border-0);
  min-height: 70vh;
}
#set-default-schedule-form input[type='number']::-webkit-outer-spin-button,
#set-default-schedule-form input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#set-default-schedule-form input[type='number'] {
  -moz-appearance: textfield;
}
#set-default-schedule-form .dialog-title-box {
  padding: 2em;
  border-bottom: 1px solid var(--tb-service-border-1);
}
#set-default-schedule-form .dialog-title {
  color: var(--tb-service-font-5);
  font-size: 1.6em;
}
#set-default-schedule-form .dialog-close {
  all: unset;
  cursor: pointer;
  color: var(--tb-service-font-3);
  transition-property: color;
  transition-duration: var(--tb-config-color-duration);
}
#set-default-schedule-form .dialog-close i {
  font-size: 1.4em;
}
#set-default-schedule-form .dialog-close:hover {
  color: var(--tb-service-font-5);
}

#set-default-schedule-form .mat-dialog-content {
  padding: var(--tb-config-padding) !important;
}
#set-default-schedule-form .mat-dialog-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#set-default-schedule-form .mat-dialog-content::-webkit-scrollbar-thumb {
  border: 2px solid #00000000;
  background-clip: padding-box;
  background-color: var(--tb-service-accent);
}
#set-default-schedule-form .mat-dialog-content::-webkit-scrollbar-thumb:hover {
  border: 1px solid #00000000;
}

#set-default-schedule-form .header-row,
#set-default-schedule-form .sub-row {
  width: 100%;
}

#set-default-schedule-form .header-row {
  background-color: var(--tb-service-background-1);
  padding: 1.6em;
  border: 1px solid var(--tb-service-border-0);
}

#set-default-schedule-form .sub-row-box {
  padding: 1.6em;
  border: 1px solid var(--tb-service-border-0);
  border-top: none;
}

#set-default-schedule-form .label-box {
  color: var(--tb-service-font-3);
  font-size: 1.2em;
  transition-property: color, background-color, border-color;
  transition-duration: var(--tb-config-color-duration);
}
#set-default-schedule-form .input-box.disabled .label-box {
  color: var(--tb-service-font-1);
}
#set-default-schedule-form .value-box {
  background-color: var(--tb-service-background-0);
  border: 1px solid var(--tb-service-border-0);
  transition-property: color, background-color, border-color;
  transition-duration: var(--tb-config-color-duration);
}
#set-default-schedule-form .value-box.no-border {
  border: none !important;
}

#set-default-schedule-form .input-box:not(.disabled) .value-box:hover {
  border-color: var(--tb-service-border-3);
}
#set-default-schedule-form .input-box:not(.disabled) .value-box:focus-within {
  border-color: var(--tb-service-accent);
  caret-color: var(--tb-service-accent);
}
#set-default-schedule-form .value-box *::placeholder {
  color: var(--tb-service-font-4);
}
#set-default-schedule-form .value-box input {
  color: var(--tb-service-font-5);
  font-size: 1.4em;
  padding: calc(16em / 14);
  caret-color: var(--tb-service-accent);
}
#set-default-schedule-form .input-box.disabled .value-box {
  background-color: var(--tb-service-background-1);
}
#set-default-schedule-form .input-box.disabled .value-box input {
  color: var(--tb-service-font-2);
  cursor: default;
}
#set-default-schedule-form .side-label {
  color: var(--tb-service-font-4);
  font-size: 1.4em;
}
#set-default-schedule-form .switch-track {
  position: relative;
  width: 3.6em;
  height: 1.6em;
  border-radius: 0.8em;
  background-color: var(--tb-service-border-1);
  transition-property: background-color;
  transition-duration: var(--tb-config-color-duration);
  cursor: pointer;
}
#set-default-schedule-form .switch-track.active {
  background-color: var(--tb-service-accent);
}
#set-default-schedule-form .switch-ball {
  position: absolute;
  top: 50%;
  left: 0.8em;
  transform: translate(-50%, -50%);
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.6em;
  background-color: var(--tb-service-background-0);
  transition-property: left;
  transition-duration: var(--tb-config-color-duration);
}
#set-default-schedule-form .switch-track.active .switch-ball {
  left: calc(100% - 0.8em);
}
#set-default-schedule-form .radio-box .radio-circle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 1px solid var(--tb-service-border-1);
}
#set-default-schedule-form .radio-box .radio-circle {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  border: 0.1em solid var(--tb-service-border-1);
}
#set-default-schedule-form .radio-box.active .radio-circle {
  width: 2em;
  height: 2em;
  border: 0.6em solid var(--tb-service-accent);
}
#set-default-schedule-form .radio-box .radio-label {
  font-size: 1.4em;
  color: var(--tb-service-font-4);
}
#set-default-schedule-form .input-small {
  width: 2em;
}
#set-default-schedule-form .unit-label {
  color: var(--tb-service-font-4);
  font-size: 1.4em;
}

#set-default-schedule-form .value-box .mat-select-trigger {
  font-size: 1.4em;
  padding: calc(16em / 14);
  line-height: 1;
}
#set-default-schedule-form .value-box .mat-select-value {
  font-family: var(--tb-config-font-family);
  font-weight: 300;
  font-size: 1em;
  color: var(--tb-service-font-5);
}
#set-default-schedule-form .value-box .mat-select-arrow {
  font-family: var(--tb-config-font-family);
  font-weight: 300;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.4em solid;
  color: var(--tb-service-accent);
}
#set-default-schedule-form .description-box {
  margin-top: calc(0.6em / 1.2);
  color: var(--tb-service-font-3);
  font-size: 1.2em;
}
#set-default-schedule-form .description-box b {
  color: var(--tb-service-accent);
}
#set-default-schedule-form .error-box {
  display: none;
  color: var(--tb-service-warn);
  font-size: 1.2em;
}
#set-default-schedule-form .input-box.error .label-box {
  color: var(--tb-service-warn);
}
#set-default-schedule-form .input-box.error .value-box {
  border: 1px solid var(--tb-service-warn);
}
#set-default-schedule-form .input-box.error .description-box {
  display: none;
}
#set-default-schedule-form .input-box.error .error-box {
  display: block;
  margin-top: calc(0.6em / 1.2);
}

#set-default-schedule-form .mat-dialog-actions {
  padding: 2em;
  border-top: 1px solid var(--tb-service-border-1);
}
#set-default-schedule-form .button {
  all: unset;
  padding: 0.6em 1.4em;
  font-size: 1.4em;
  box-sizing: border-box;
  cursor: pointer;
  transition-property: color, background-color, border-color;
  transition-duration: var(--tb-config-color-duration);
}
#set-default-schedule-form .save-button {
  color: var(--tb-service-font-0);
  background-color: var(--tb-service-accent);
}
#set-default-schedule-form .save-button:hover {
  background-color: var(--tb-service-accent-hover);
}
#set-default-schedule-form .save-button:active {
  background-color: var(--tb-service-accent-pressed);
}
#set-default-schedule-form .close-button {
  color: var(--tb-service-font-5);
  background-color: var(--tb-service-background-0);
  border: 1px solid var(--tb-service-border-0);
}
#set-default-schedule-form .close-button:hover {
  border-color: var(--tb-service-border-3);
}
#set-default-schedule-form .close-button:active {
  background-color: var(--tb-service-border-0);
}
#set-default-schedule-form .button:disabled,
#set-default-schedule-form .button[disabled] {
  background-color: var(--tb-service-font-1);
  color: var(--tb-service-font-0);
  cursor: default;
}

@media (min-width: 960px) {
  #set-default-schedule-form form {
    width: 24vw;
  }
}
