#activate-device-form form {
  background-color: var(--tb-service-background-0);
  border: 1px solid var(--tb-service-border-0);
}
#activate-device-form .dialog-title-box {
  padding: 2em;
  border-bottom: 1px solid var(--tb-service-border-1);
}
#activate-device-form .dialog-title {
  color: var(--tb-service-font-5);
  font-size: 1.6em;
}
#activate-device-form .dialog-close {
  all: unset;
  cursor: pointer;
  color: var(--tb-service-font-3);
  transition-property: color;
  transition-duration: var(--tb-config-color-duration);
}
#activate-device-form .dialog-close i {
  font-size: 1.4em;
}
#activate-device-form .dialog-close:hover {
  color: var(--tb-service-font-5);
}

#activate-device-form .mat-dialog-content {
  padding: var(--tb-config-padding) !important;
}
#activate-device-form .mat-dialog-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
#activate-device-form .mat-dialog-content::-webkit-scrollbar-thumb {
  border: 2px solid #00000000;
  background-clip: padding-box;
  background-color: var(--tb-service-accent);
}
#activate-device-form .mat-dialog-content::-webkit-scrollbar-thumb:hover {
  border: 1px solid #00000000;
}

#activate-device-form .label {
  color: var(--tb-service-font-5);
  font-size: 1.4em;
  white-space: pre-line;
}

#activate-device-form .help-box {
  color: var(--tb-service-accent);
  font-size: 1.2em;
}

#activate-device-form .mat-dialog-actions {
  padding: 2em;
  border-top: 1px solid var(--tb-service-border-1);
}
#activate-device-form .button {
  all: unset;
  padding: 0.6em 1.4em;
  font-size: 1.4em;
  box-sizing: border-box;
  cursor: pointer;
  transition-property: color, background-color, border-color;
  transition-duration: var(--tb-config-color-duration);
}
#activate-device-form .activate-button {
  color: var(--tb-service-font-0);
  background-color: var(--tb-service-accent);
}
#activate-device-form .activate-button:hover {
  background-color: var(--tb-service-accent-hover);
}
#activate-device-form .activate-button:active {
  background-color: var(--tb-service-accent-pressed);
}
#activate-device-form .close-button {
  color: var(--tb-service-font-5);
  background-color: var(--tb-service-background-0);
  border: 1px solid var(--tb-service-border-0);
}
#activate-device-form .close-button:hover {
  border-color: var(--tb-service-border-3);
}
#activate-device-form .close-button:active {
  background-color: var(--tb-service-border-0);
}

@media (min-width: 960px) {
  #activate-device-form form {
    width: 24vw;
  }
}
