<div id="add-sms-alarm-form">
  <form
    #addEntityForm="ngForm"
    [formGroup]="addEntityFormGroup"
    (ngSubmit)="save()"
    style="font-size: {{calcFontSize()}}px;"
  >
    <div class="dialog-title-box" fxLayoutAlign="space-between center">
      <span class="dialog-title" translate>thingplus.dialog.create-sms-alarm-title</span>
      <button class="dialog-close" (click)="cancel()" type="button">
        <mat-icon class="material-icons">close</mat-icon>
      </button>
    </div>
    <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async"> </mat-progress-bar>
    <div style="height: 0.4em" *ngIf="!(isLoading$ | async)"></div>
    <div class="step-controller" fxLayoutAlign="space-between center">
      <div
        class="step"
        [ngClass]="{'prev': currentStep > 0, 'current': currentStep == 0, 'next': currentStep < 0}"
        (click)="selectStep($event, 0)"
        fxLayoutAlign="center center"
        [attr.data-label]="t('thingplus.label.step-basic')"
      >
        <i class="material-icons">check</i>
      </div>
      <div class="step-progress-line" [ngClass]="{'prev': currentStep > 0, 'next': currentStep < 0}"></div>
      <div
        class="step"
        [ngClass]="{'prev': currentStep > 1, 'current': currentStep == 1, 'next': currentStep < 1}"
        (click)="selectStep($event, 1)"
        fxLayoutAlign="center center"
        [attr.data-label]="t('thingplus.label.step-select-alarm')"
      >
        <i class="material-icons">check</i>
      </div>
      <div class="step-progress-line" [ngClass]="{'prev': currentStep > 1, 'next': currentStep < 1}"></div>
      <div
        class="step"
        [ngClass]="{'prev': currentStep > 2, 'current': currentStep == 2, 'next': currentStep < 2}"
        (click)="selectStep($event, 2)"
        fxLayoutAlign="center center"
        [attr.data-label]="t('thingplus.label.step-set-receive')"
      >
        <i class="material-icons">check</i>
      </div>
    </div>
    <div mat-dialog-content fxFlex fxLayout="column" fxLayoutGap="2em">
      <div class="step-content step-content-0" *ngIf="currentStep == 0" fxLayout="column" fxLayoutGap="2em">
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
          <div
            fxFlex="100"
            fxLayout="column"
            fxLayoutGap="0.6em"
            class="input-box"
            [ngClass]="{error: addEntityFormGroup.get('title').hasError('required')}"
          >
            <div class="label-box" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.4em">
              <label translate>thingplus.label.alarm-name</label>
            </div>
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
              <div class="value-box" fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.6em">
                <input matInput formControlName="title" required />
              </div>
            </div>
            <div class="error-box" *ngIf="addEntityFormGroup.get('title').hasError('required')" translate>
              thingplus.help.error-required-alarm-name
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
          <div
            fxFlex="100"
            fxLayout="column"
            fxLayoutGap="0.6em"
            class="input-box"
            [ngClass]="{'disabled': ownerLevel > 1}"
          >
            <div class="label-box" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.4em">
              <label translate>thingplus.label.customerL2</label>
            </div>
            <div class="value-box" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.6em">
              <mat-select
                formControlName="customerL2"
                *ngIf="ownerLevel <= 1"
                (selectionChange)="setCustomerL2($event)"
              >
                <mat-option *ngFor="let customerL2 of customerL2List" [value]="customerL2.value">
                  {{customerL2.name}}
                </mat-option>
              </mat-select>
              <input matInput formControlName="customerL2Name" *ngIf="ownerLevel > 1" readonly />
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
          <div fxFlex="100" fxLayout="column" fxLayoutGap="0.6em" class="input-box">
            <div class="label-box" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.4em">
              <label translate>thingplus.label.device</label>
            </div>
            <div class="value-box" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.6em">
              <mat-select formControlName="device">
                <mat-option *ngFor="let device of deviceList" [value]="device.value"> {{device.name}} </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
      <div class="step-content step-content-1" *ngIf="currentStep == 1" fxLayout="column" fxLayoutGap="2em">
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
          <div fxFlex="100" fxLayout="column" fxLayoutGap="0.6em" class="input-box">
            <div class="label-box" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.4em">
              <mat-checkbox (change)="checkEntire($event, 'deviceState')">
                {{'thingplus.label.device-state' | translate}}
              </mat-checkbox>
            </div>
            <div
              class="group-box"
              fxFlex="100"
              fxLayout="column"
              fxLayoutAlign="start stretch"
              fxLayoutGap="1em"
              formGroupName="deviceState"
            >
              <div fxFlex="100" fxLayoutAlign="space-between center">
                <mat-checkbox fxFlex="50" formControlName="delayed">
                  {{'thingplus.alarm-type.delayed' | translate}}
                </mat-checkbox>
                <mat-checkbox fxFlex="50" formControlName="unconnected">
                  {{'thingplus.alarm-type.unconnected' | translate}}
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
          <div fxFlex="100" fxLayout="column" fxLayoutGap="0.6em" class="input-box">
            <div class="label-box" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.4em">
              <mat-checkbox (change)="checkEntire($event, 'electricQuality')">
                {{'thingplus.label.electric-quality' | translate}}
              </mat-checkbox>
            </div>
            <div
              class="group-box"
              fxFlex="100"
              fxLayout="column"
              fxLayoutAlign="start stretch"
              fxLayoutGap="1em"
              formGroupName="electricQuality"
            >
              <div fxFlex="100" fxLayoutAlign="space-between center">
                <mat-checkbox fxFlex="50" formControlName="over-current">
                  {{'thingplus.alarm-type.over-current' | translate}}
                </mat-checkbox>
                <mat-checkbox fxFlex="50" formControlName="low-voltage">
                  {{'thingplus.alarm-type.low-voltage' | translate}}
                </mat-checkbox>
              </div>
              <div fxFlex="100" fxLayoutAlign="space-between center">
                <mat-checkbox fxFlex="50" formControlName="high-voltage">
                  {{'thingplus.alarm-type.high-voltage' | translate}}
                </mat-checkbox>
                <mat-checkbox fxFlex="50" formControlName="volt-imbalance">
                  {{'thingplus.alarm-type.volt-imbalance' | translate}}
                </mat-checkbox>
              </div>
              <div fxFlex="100" fxLayoutAlign="space-between center">
                <mat-checkbox fxFlex="50" formControlName="curr-imbalance">
                  {{'thingplus.alarm-type.curr-imbalance' | translate}}
                </mat-checkbox>
                <mat-checkbox fxFlex="50" formControlName="thd">
                  {{'thingplus.alarm-type.thd' | translate}}
                </mat-checkbox>
              </div>
              <div fxFlex="100" fxLayoutAlign="space-between center">
                <mat-checkbox fxFlex="50" formControlName="power-factor">
                  {{'thingplus.alarm-type.power-factor' | translate}}
                </mat-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step-content step-content-2" *ngIf="currentStep == 2" fxLayout="column" fxLayoutGap="2em">
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start end">
          <div fxFlex fxLayout="column" fxLayoutGap="0.6em" class="input-box">
            <div class="label-box" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.4em">
              <label translate>thingplus.label.add-user</label>
            </div>
            <div class="value-box" fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.6em">
              <mat-select
                formControlName="user"
                multiple
                (selectionChange)="setUser($event)"
                placeholder="{{'thingplus.selector.select-user' | translate}}"
              >
                <mat-select-trigger>
                  <span *ngIf="addEntityFormGroup.get('user').value.length > 0">
                    {{'thingplus.selector.selected-count' | translate:{count:
                    addEntityFormGroup.get('user').value.length} }}
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let user of userList" [value]="user.value">
                  {{user.name}}{{user.phone ? " : " + user.phone : ''}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
          <div
            fxFlex="100"
            fxLayout="column"
            fxLayoutGap="0.6em"
            class="input-box"
            [ngClass]="{error: addEntityFormGroup.get('newSms').hasError('pattern')}"
          >
            <div class="label-box" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="0.4em">
              <label translate>thingplus.label.add-sms</label>
            </div>
            <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
              <div class="value-box" fxFlex fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="0.6em">
                <input matInput type="sms" fxFlex formControlName="newSms" />
                <button class="sms-add-button" type="button" (click)="addSms($event)" translate>
                  thingplus.action.add
                </button>
              </div>
            </div>
            <div class="error-box" *ngIf="addEntityFormGroup.get('newSms').hasError('pattern')" translate>
              thingplus.help.error-invalid-sms
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
          <div class="grid-box" fxLayout="row wrap" fxLayoutAlign="start">
            <div
              class="chip sms-chip"
              *ngFor="let sms of smsList"
              fxLayoutAlign="space-between center"
              fxLayoutGap="1em"
            >
              <label class="chip-label" fxFlex>{{sms}}</label>
              <button class="sms-delete-button material-icons" type="button" (click)="deleteSms($event, sms)">
                close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1em">
      <button
        class="button prev-button"
        [disabled]="(isLoading$ | async)"
        type="button"
        (click)="prevStep()"
        *ngIf="currentStep > 0"
        translate
      >
        thingplus.action.prev-step
      </button>
      <button
        class="button close-button"
        [disabled]="(isLoading$ | async)"
        type="button"
        (click)="cancel()"
        cdkFocusInitial
        *ngIf="currentStep == 0"
        translate
      >
        thingplus.action.close
      </button>
      <button
        class="button next-button"
        type="button"
        (click)="nextStep()"
        [disabled]="(isLoading$ | async)"
        *ngIf="currentStep < 2"
        translate
      >
        thingplus.action.next-step
      </button>
      <button
        class="button save-button"
        type="submit"
        [disabled]="(isLoading$ | async) || addEntityForm.invalid"
        *ngIf="currentStep == 2"
        translate
      >
        thingplus.action.save
      </button>
    </div>
  </form>
</div>
