<div class="tb-custom-create-password-content" fxLayoutAlign="center center" #container>
  <section class="login-section" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="top-container" fxLayoutAlign="center center">
      <img aria-label="logo" [src]="logoImageUrl" [height]="logoImageHeight" class="tb-login-logo-title" />
    </div>
    <div class="main-container" fxFlex fxLayoutAlign="center center">
      <form class="tb-custom-login-form" [formGroup]="createPassword" (ngSubmit)="onCreatePassword()">
        <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async"> </mat-progress-bar>
        <span style="height: 4px" *ngIf="!(isLoading$ | async)"></span>
        <div tb-toast fxLayout="column" fxLayoutGap="1em">
          <h2 class="form-title">비밀번호 생성</h2>
          <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
            <div fxFlex="100" class="input-box" fxLayout="column">
              <div class="value-box" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex fxLayoutAlign="start center">
                  <label for="password-input" class="input-icon material-icons">lock</label>
                  <input
                    fxFlex
                    class="input-value"
                    name="newPassword"
                    id="new-password-input"
                    [type]="showPassword ? 'text' : 'password'"
                    formControlName="password"
                    placeholder="{{'login.new-password' | translate}}"
                    autocomplete="new-password"
                  />
                </div>
                <input
                  id="showPassword"
                  name="showPassword"
                  type="checkbox"
                  [(ngModel)]="showPassword"
                  [ngModelOptions]="{standalone: true}"
                />
                <label class="showPassword" for="showPassword" fxLayout="row" fxLayoutAlign="center center">
                  <mat-icon> {{showPassword ? 'visibility' : 'visibility_off' }} </mat-icon>
                </label>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
            <div fxFlex="100" class="input-box" fxLayout="column">
              <div class="value-box" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayoutAlign="start center">
                  <label for="password-input" class="input-icon material-icons">lock</label>
                  <input
                    fxFlex
                    class="input-value"
                    name="newPassword2"
                    id="new-password2-input"
                    [type]="showPassword2 ? 'text' : 'password'"
                    formControlName="password2"
                    placeholder="{{'login.new-password-again' | translate}}"
                    autocomplete="new-password"
                  />
                </div>
                <input
                  id="showPassword2"
                  name="showPassword2"
                  type="checkbox"
                  [(ngModel)]="showPassword2"
                  [ngModelOptions]="{standalone: true}"
                />
                <label class="showPassword" for="showPassword2" fxLayout="row" fxLayoutAlign="center center">
                  <mat-icon> {{showPassword ? 'visibility' : 'visibility_off' }} </mat-icon>
                </label>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="end center">
            <button class="submit-action" [disabled]="(isLoading$ | async) || this.clicked" type="submit">
              {{ 'login.create-password' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="bottom-container"></div>
  </section>
</div>
