.tb-custom-create-password-content {
  --tb-config-font-family: Pretendard, 'Noto Sans KR', Roboto, sans-serif;
  --tb-config-color-duration: 0.2s;
  --tb-service-primary: #292d30;
  --tb-service-accent: #ed6d00;
  --tb-service-warn: #ff3d00;
  --tb-service-accent-hover: #f18a33;
  --tb-service-accent-pressed: #be5700;
  --tb-service-warn-hover: #ff6433;
  --tb-service-warn-pressed: #cc3100;
  --tb-service-disabled: #cccccc;
  --tb-service-working: #00b5ad;
  --tb-service-stopped: #db2828;
  --tb-service-unconnected: #2185d0;
  --tb-service-inactivated: #91a4ae;
  --tb-service-operation-high: #2979ff;
  --tb-service-operation-mid: #ffac00;
  --tb-service-operation-low: #ff6f00;
  --tb-service-font-0: #ffffff;
  --tb-service-font-1: #cccccc;
  --tb-service-font-2: #b2b2b2;
  --tb-service-font-3: #999999;
  --tb-service-font-4: #666666;
  --tb-service-font-5: #191919;
  --tb-service-font-6: #000000;
  --tb-service-border-0: #ededed;
  --tb-service-border-1: #e7e8eb;
  --tb-service-border-2: #191919;
  --tb-service-background-0: #ffffff;
  --tb-service-background-1: #fcfcfd;
  --tb-service-background-2: #f9f9fb;
  --tb-service-background-3: #f3f4f8;
  --tb-service-background-0-hover: #ededed;
  --tb-service-blur-accent: #f8c499;
  --tb-service-blur-working: #e5f8f7;
  --tb-service-blur-unconnected: #e8f3fa;
  --tb-service-blur-inactivated: #e9edef;
  --tb-service-cold-line-0: #a2e8ef;
  --tb-service-cold-line-1: #75dbe8;
  --tb-service-cold-line-2: #30c8dc;
  --tb-service-cold-line-3: #1aa7fe;
  --tb-service-cold-line-4: #297aff;
  --tb-service-cold-line-5: #7634ff;
  --tb-service-working-line: #b1e8e6;
  --tb-service-chart-line-0: #a6ceec;
  --tb-service-chart-line-1: #2185d0;
  --tb-service-chart-line-2: #ff6f00;

  width: 100%;
  max-width: 100%;
  height: 100%;
  background-color: white;
  font-family: var(--tb-config-font-family);
  font-size: 16px;
  user-select: none;
}

section.login-section {
  width: 25%;
  height: 100%;
  min-width: 280px;
  background-color: var(--tb-service-background-0);
  overflow: auto;
}
.login-section .top-container {
  width: 100%;
  padding: 2em;
  padding-top: 4em;
}
.login-section .main-container {
  width: 100%;
  padding: 0em 2em;
}
.login-section .tb-login-logo-title {
  width: auto;
  height: 3em;
}
.login-section .tb-custom-login-form {
  width: 100%;
}
.login-section .form-title {
  color: var(--tb-service-font-5);
  font-size: 1.5em;
}
.login-section .value-box {
  width: 100%;
  border: 1px solid var(--tb-service-border-0);
  transition-property: border-color;
  transition-duration: var(--tb-config-color-duration);
}
.login-section .value-box:hover {
  border: 1px solid var(--tb-service-font-5);
}
.login-section .value-box:focus-within {
  border: 1px solid var(--tb-service-accent);
}
.login-section .input-icon {
  font-size: 1.5em;
  padding: 0.66em;
  color: var(--tb-service-accent);
}
.login-section .input-value {
  width: 100%;
  all: unset;
  font-size: 1em;
  padding: 1em;
  color: var(--tb-service-font-4);
}
.login-section .input-value::placeholder {
  color: var(--tb-service-font-1);
}
.login-section #showPassword {
  display: none;
}
.login-section #showPassword2 {
  display: none;
}
.login-section .showPassword {
  color: var(--tb-service-font-1);
  cursor: pointer;
}
.login-section .showPassword mat-icon {
  height: unset;
  width: unset;
  font-size: 1em;
  padding: 1em;
}
.login-section .input-error {
  font-size: 0.8em;
  color: var(--tb-service-warn);
}
.login-section .submit-action {
  all: unset;
  background-color: var(--tb-service-accent);
  color: var(--tb-service-font-0);
  text-align: center;
  font-size: 1em;
  padding: 0.5em 1em;
  cursor: pointer;
  white-space: nowrap;
  transition-property: background-color;
  transition-duration: var(--tb-config-color-duration);
}
.login-section .submit-action:hover {
  background-color: var(--tb-service-accent-hover);
}
.login-section .submit-action:active {
  background-color: var(--tb-service-accent-pressed);
}

@media (max-width: 1599px) {
  .tb-custom-create-password-content {
    font-size: 14px;
  }
}
@media (max-width: 1279px) {
  .tb-custom-create-password-content {
    font-size: 12px;
  }
  section.login-section {
    width: 40%;
  }
}
@media (max-width: 959px) {
  section.login-section {
    width: 50%;
  }
}
@media (max-width: 599px) {
  section.login-section {
    width: 100%;
  }
  .login-section .top-container {
    padding-top: 2em;
  }
  .login-section .tb-login-logo-title {
    width: auto;
    height: 2.7em;
  }
}
