res
<div class="tb-custom-reset-password-request-content" fxLayoutAlign="center center" #container>
  <section class="login-section" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="top-container" fxLayoutAlign="center center">
      <img aria-label="logo" [src]="logoImageUrl" [height]="logoImageHeight" class="tb-login-logo-title" />
    </div>
    <div class="main-container" fxFlex fxLayoutAlign="center center">
      <form class="tb-custom-login-form" [formGroup]="requestPasswordRequest" (ngSubmit)="sendResetPasswordLink()">
        <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async"> </mat-progress-bar>
        <span style="height: 4px" *ngIf="!(isLoading$ | async)"></span>
        <div tb-toast fxLayout="column" fxLayoutGap="1em">
          <h2 class="form-title">비밀번호 찾기</h2>
          <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
            <div fxFlex="100" class="input-box" fxLayout="column">
              <div class="value-box" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayoutAlign="start center">
                  <label for="username-input" class="input-icon material-icons">mail</label>
                  <input
                    fxFlex
                    class="input-value"
                    id="username-input"
                    type="email"
                    formControlName="email"
                    autofocus
                    placeholder="{{'login.email' | translate}}"
                    required
                    email="true"
                  />
                </div>
              </div>
              <div
                class="input-error"
                *ngIf="requestPasswordRequest.get('email').invalid && (requestPasswordRequest.get('email').dirty || requestPasswordRequest.get('email').touched)"
              >
                {{ 'user.invalid-email-format' | translate }}
              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="space-between center">
            <button class="back-action" type="button" [disabled]="(isLoading$ | async)" (click)="routeTo('/login')">
              로그인으로 돌아가기
            </button>
            <button class="submit-action" [disabled]="(isLoading$ | async) || this.clicked" type="submit">
              {{ 'login.request-password-reset' | translate }}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="bottom-container"></div>
  </section>
</div>
