@import 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0';

#widget {
  width: 100%;
  height: 100%;
  font-size: 10px;
  font-family: var(--tb-config-font-family);
  user-select: none;
  white-space: nowrap;
}

.widget-tab {
  width: 100%;
  height: 5em;
  min-height: 30px;
  background-color: var(--tb-service-background-2);
  border-bottom: 1px solid var(--tb-service-border-1);
}
.tab {
  min-width: 8em;
  height: 100%;
  font-size: 1.4em;
  font-weight: 500;
  border-right: 1px solid var(--tb-service-border-1);
  color: var(--tb-service-font-4);
  cursor: pointer;
  transition-property: color;
  transition-duration: var(--tb-config-color-duration);
}
.tab.active {
  background-color: var(--tb-service-background-0);
  color: var(--tb-service-font-5);
  border-top: 0.2em solid var(--tb-service-accent);
  border-bottom: 1px solid var(--tb-service-background-0);
  box-sizing: content-box !important;
}
.tab:not(.active):hover {
  color: var(--tb-service-font-4);
}

/*
  Widget Header Area
*/
header.widget-header {
  width: 100%;
  padding: var(--tb-config-padding);
  border-bottom: 1px solid var(--tb-service-border-1);
}

.normal-label {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: var(--tb-service-font-3);
  white-space: nowrap;
}

/* widget-header-right-section */
/* Entity Controller */
.widget-header-right-section .entity-controller {
  margin-right: var(--tb-config-padding);
}
.widget-header-right-section .mat-select {
  background-color: var(--tb-service-background-0);
  border: 1px solid var(--tb-service-border-0);
  transition-property: border-color;
  transition-duration: var(--tb-config-color-duration);
}
.widget-header-right-section .mat-select:hover {
  border-color: var(--tb-service-border-3);
}
.widget-header-right-section .mat-select-trigger {
  width: 13em;
  min-width: 130px;
  padding: calc(9em / 14);
  font-size: 1.4em;
  line-height: 1;
}
.widget-header-right-section .mat-select-value {
  font-family: var(--tb-config-font-family);
  font-weight: 300;
  font-size: 1em;
  color: var(--tb-service-font-5);
}
.widget-header-right-section .mat-select-arrow {
  font-family: var(--tb-config-font-family);
  font-weight: 300;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.4em solid;
  color: var(--tb-service-accent);
}
/* Date Controller */
.widget-header-right-section .date-controller {
  margin-right: var(--tb-config-padding);
}
.widget-header-right-section .date-selector {
  position: relative;
  width: 13em;
  min-width: 70px;
  line-height: 1;
  color: var(--tb-service-font-5);
  background-color: var(--tb-service-background-0);
  border: 1px solid var(--tb-service-border-0);
  padding: 0.6em 0.9em;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: var(--tb-config-color-duration);
}
.widget-header-right-section .date-selector:hover {
  border-color: var(--tb-service-border-3);
}
.widget-header-right-section .date-selector input {
  font-family: var(--tb-config-font-family);
  font-size: 1.4em;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.3;
}
.select-arrow {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.5em solid;
  color: var(--tb-service-accent);
}
.widget-header-right-section .start-date,
.widget-header-right-section .end-date {
  all: unset;
  width: 100%;
}
.widget-header-right-section .hidden {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Action Button */
.widget-header-right-section .action-btn {
  all: unset;
  line-height: 1.3;
  cursor: pointer;
  transition-property: background-color, border-color;
  transition-duration: var(--tb-config-color-duration);
  white-space: nowrap;
}
.widget-header-right-section .text-btn {
  padding: 0.6em 1.6em;
  background-color: var(--tb-service-accent);
  border: 1px solid var(--tb-service-accent);
}
.widget-header-right-section .text-btn:hover {
  background-color: var(--tb-service-accent-hover);
  border-color: var(--tb-service-accent-hover);
}
.widget-header-right-section .text-btn:active {
  background-color: var(--tb-service-accent-pressed);
  border-color: var(--tb-service-accent-pressed);
}
.widget-header-right-section .text-btn span {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--tb-service-font-0);
}
/*
  Widget Sub Header Area
*/
header.widget-sub-header {
  width: 100%;
  padding: var(--tb-config-padding);
  border-bottom: 1px solid var(--tb-service-border-1);
}

/* widget-header-left-section */
header.widget-sub-header .widget-header-left-section .legend-circle {
  width: 0.6em;
  height: 0.6em;
  background-color: currentColor;
}
header.widget-sub-header .widget-header-left-section .legend-label {
  font-size: 1.2em;
  color: var(--tb-service-font-4);
}
header.widget-sub-header .widget-header-left-section .legend-box.hidden .legend-label {
  text-decoration: line-through;
}

/* widget-header-right-section */
header.widget-sub-header .widget-header-right-section .date-range {
  border: 1px solid var(--tb-service-border-0);
  color: var(--tb-service-font-3);
  font-size: 1em;
  padding: 0.4em 0.8em;
}
header.widget-sub-header .widget-header-right-section .action-btn {
  all: unset;
  line-height: 1;
  cursor: pointer;
  transition-property: background-color, border-color;
  transition-duration: var(--tb-config-color-duration);
}

/*
  Widget Content Area
*/
main.widget-content {
  width: 100%;
  overflow-y: auto;
}
main.widget-content::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
main.widget-content::-webkit-scrollbar-thumb {
  border: 2px solid #00000000;
  background-clip: padding-box;
  background-color: var(--tb-service-accent);
}
main.widget-content::-webkit-scrollbar-thumb:hover {
  border: 1px solid #00000000;
}

/* chart-section */
section.chart-section {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}
section.chart-section::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
section.chart-section::-webkit-scrollbar-thumb {
  border: 2px solid #00000000;
  background-clip: padding-box;
  background-color: var(--tb-service-accent);
}
section.chart-section::-webkit-scrollbar-thumb:hover {
  border: 1px solid #00000000;
}
.chart-section .domain {
  display: none;
}
.chart-section .tooltip:hover {
  stroke: var(--tb-service-font-5);
}
.chart-section svg {
  width: 100%;
  height: auto;
}
.chart-section .bar-name {
  font-family: var(--tb-config-font-family);
  font-size: 14px;
  fill: var(--tb-service-font-5);
}
.chart-section .bar-label-box {
  width: 40px;
  height: 18px;
  stroke: var(--tb-service-border-1);
  fill: var(--tb-service-background-0);
}
.chart-section .bar-label {
  width: 40px;
  font-family: var(--tb-config-font-family);
  font-size: 10px;
  fill: var(--tb-service-font-5);
  text-anchor: middle;
}
.chart-section .bar-label.bar-label-modified {
  fill: var(--tb-service-accent);
}
.chart-section .bar-rect {
  transition-property: transform, height;
  transition-duration: var(--tb-config-color-duration);
}
.chart-section .bar-rect-active {
  transform: translateY(2px);
  height: 6px;
}
.chart-section .bar-rect-target {
  transform: translateY(-2px);
  height: 14px;
}
.chart-section .selection {
  fill: var(--tb-service-accent);
  opacity: 0.5;
}

.action-section {
  width: 100%;
  padding: 1em 2em;
  border-top: 1px solid var(--tb-service-border-1);
}
.action-section .action-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 1.2em;
  cursor: pointer;
  border: 1px solid var(--tb-service-border-0);
  color: var(--tb-service-font-4);
  transition-property: background-color, border-color;
  transition-duration: var(--tb-config-color-duration);
}
.action-section .action-box span {
  font-size: 1.4em;
  font-weight: 500;
  white-space: nowrap;
}
.action-section .action-box i {
  font-size: 1.6em;
  font-weight: bold;
  color: var(--tb-service-accent);
}
.action-section .action-box:hover {
  border-color: var(--tb-service-border-3);
}
.action-section .action-box:active {
  border-color: var(--tb-service-accent-pressed);
}

/* table-section */
.table-section {
  width: 100%;
  overflow: auto;
}
.table-section::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.table-section::-webkit-scrollbar-thumb {
  border: 2px solid #00000000;
  background-clip: padding-box;
  background-color: var(--tb-service-accent);
}
.table-section::-webkit-scrollbar-thumb:hover {
  border: 1px solid #00000000;
}
.table-section .table {
  min-width: 100%;
  border-spacing: 0px;
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  white-space: nowrap;
}
.table-section thead tr {
  background-color: var(--tb-service-background-1);
  border-top: 1px solid var(--tb-service-border-1);
  border-bottom: 1px solid var(--tb-service-border-1);
}
.table-section th {
  cursor: pointer;
  color: var(--tb-service-font-3);
  padding: 1.68em;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  line-height: 1;
}
.table-section th .th-label {
  font-size: 1.2em;
  margin-right: 0.5em;
}
.table-section th .th-sort {
  font-size: 1.4em;
  opacity: 0;
  vertical-align: top;
  transition-property: transform, opacity;
  transition-duration: var(--tb-config-color-duration);
  color: var(--tb-service-accent);
}
.table-section th:not(.DESC):not(.ASC):hover .th-sort {
  opacity: 0.4;
}
.table-section th.ASC .th-sort {
  opacity: 1;
  transform: rotate(0deg);
}
.table-section th.DESC .th-sort {
  opacity: 1;
  transform: rotate(180deg);
}
.table-section tbody tr {
  border-bottom: 1px solid var(--tb-service-border-1);
  transition-property: background-color;
  transition-duration: var(--tb-config-color-duration);
}
.table-section tbody tr:nth-child(odd) {
  background-color: var(--tb-service-background-0);
}
.table-section tbody tr:nth-child(even) {
  background-color: var(--tb-service-background-1);
}
.table-section td {
  line-height: 1;
}
.table-section td:not(.action) {
  color: var(--tb-service-font-4);
  padding: 1.2em;
  font-size: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: text;
}
.table-section tbody tr:hover {
  background-color: var(--tb-service-background-2);
}
.table-section td.action {
  font-size: 1em;
  padding: 0em 1.68em;
  text-overflow: initial;
}
.table-section .cell-action {
  font-size: 2em;
  cursor: pointer;
  color: var(--tb-service-font-3);
  transition-property: color;
  transition-duration: var(--tb-config-color-duration);
}
.table-section .cell-action:hover {
  color: var(--tb-service-font-5);
}
.table-section .cell-action.active {
  color: var(--tb-service-accent);
}
.table-section .activate-switch {
  position: relative;
  width: 3.6em;
  height: 1.6em;
  border-radius: 0.8em;
  background-color: var(--tb-service-font-3);
  transition-property: background-color;
  transition-duration: var(--tb-config-color-duration);
  margin: auto;
  cursor: pointer;
}
.table-section .activate-switch.active {
  background-color: var(--tb-service-accent);
}
.table-section .activate-switch .ball {
  position: absolute;
  top: 50%;
  left: 0.8em;
  transform: translate(-50%, -50%);
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.6em;
  background-color: var(--tb-service-background-0);
  transition-property: left;
  transition-duration: var(--tb-config-color-duration);
}
.table-section .activate-switch.active .ball {
  left: calc(100% - 0.8em);
}

/*
  Widget Footer Area
*/
footer.widget-footer {
  width: 100%;
  padding: var(--tb-config-padding);
  background-color: var(--tb-service-background-0);
  border-top: 1px solid var(--tb-service-border-1);
}

/* page-section */
.page-section .page-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  min-width: 20px;
  height: 2em;
  min-height: 20px;
  font-size: 1.2em;
  background-color: var(--tb-service-background-0);
  border: 1px solid var(--tb-service-border-0);
  cursor: pointer;
  color: var(--tb-service-font-4);
  transition-property: border-color;
  transition-duration: var(--tb-config-color-duration);
}
.page-section .first-button,
.page-section .last-button,
.page-section .prev-button,
.page-section .next-button {
  font-size: 1.6em;
  width: 1.5em;
  height: 1.5em;
}
.page-section .page-button:not(.active):hover {
  border: 1px solid var(--tb-service-accent-hover);
}
.page-section .page-button:not(.active):active {
  border: 1px solid var(--tb-service-accent-pressed);
}
.page-section .page-button.big-page {
  width: 3.5em;
  min-width: 35px;
}
.page-section .page-number-button.active {
  border: 1px solid var(--tb-service-accent);
  color: var(--tb-service-accent);
}

@media (min-width: 960px) and (max-width: 1280px) {
  /* chart-section */
  .chart-section svg {
    width: 150%;
    height: auto;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  /* chart-section */
  .chart-section svg {
    width: 225%;
    height: auto;
  }
}

@media (max-width: 599px) {
  /* chart-section */
  .chart-section svg {
    width: 300%;
    height: auto;
  }
}
