<div id="active-power-form">
  <form #editEntityForm="ngForm" [formGroup]="editEntityFormGroup" style="font-size: {{calcFontSize()}}px;">
    <div class="dialog-title-box" fxLayoutAlign="space-between center">
      <span class="dialog-title">{{entityLabel}} {{"thingplus.dialog.detail-active-power" | translate}}</span>
      <button class="dialog-close" (click)="cancel()" type="button">
        <mat-icon class="material-icons">close</mat-icon>
      </button>
    </div>
    <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async"> </mat-progress-bar>
    <div style="height: 0.2em" *ngIf="!(isLoading$ | async)"></div>
    <div mat-dialog-content>
      <div class="legend" fxLayoutAlign="start center" fxLayoutGap="2em">
        <div
          class="legend-box"
          *ngFor="let legend of legendList"
          fxLayoutAlign="start center"
          fxLayoutGap="0.4em"
          (mouseenter)="legendEnter($event, legend)"
          (mouseleave)="legendLeave($event, legend)"
        >
          <div class="legend-circle" [ngStyle]="{'color': legend.color}"></div>
          <div class="legend-label">{{legend.label}}</div>
        </div>
      </div>
      <div class="chart"></div>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.5em">
      <button
        class="button close-button"
        [disabled]="(isLoading$ | async)"
        type="button"
        (click)="cancel()"
        cdkFocusInitial
        translate
      >
        thingplus.action.close
      </button>
    </div>
  </form>
</div>
