<div id="detail-system-alarm-form">
  <form #editEntityForm="ngForm" [formGroup]="editEntityFormGroup" style="font-size: {{calcFontSize()}}px;">
    <div class="dialog-title-box" fxLayoutAlign="space-between center">
      <span class="dialog-title" translate>thingplus.dialog.detail-system-alarm</span>
      <button class="dialog-close" (click)="cancel()" type="button">
        <mat-icon class="material-icons">close</mat-icon>
      </button>
    </div>
    <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async"> </mat-progress-bar>
    <div style="height: 0.4em" *ngIf="!(isLoading$ | async)"></div>
    <div mat-dialog-content fxFlex fxLayout="column" fxLayoutGap="calc(16em / 14)">
      <label class="section-label">1. {{'thingplus.label.step-basic' | translate}}</label>
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex="100" fxLayout="column" class="input-box">
          <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" class="group-box">
            <label class="side-label" translate>thingplus.label.snooze</label>
            <label class="switch-label" [ngClass]="{'active':snooze}" translate>
              {{snooze ? 'thingplus.label.on' : 'thingplus.label.off'}}
            </label>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" *ngIf="snooze">
        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start center" class="input-box disabled">
          <div class="value-box" fxFlex fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.6em">
            <input matInput formControlName="reAlarmMs" readonly />
          </div>
          <span class="unit-label" translate>thingplus.label.snooze-for</span>
        </div>
      </div>
      <label class="section-label">2. {{'thingplus.label.step-select-alarm' | translate}}</label>
      <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
        <div fxFlex="100" fxLayout="column" class="input-box">
          <div class="label-box" fxLayout="row" fxLayoutAlign="start center">
            <label translate>thingplus.label.device-state</label>
          </div>
          <div
            class="group-box"
            fxFlex="100"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="1em"
            formGroupName="deviceState"
          >
            <div fxFlex="100" fxLayoutAlign="space-between center">
              <mat-checkbox fxFlex="50" formControlName="delayed" disabled>
                {{'thingplus.alarm-type.delayed' | translate}}
              </mat-checkbox>
              <mat-checkbox fxFlex="50" formControlName="unconnected" disabled>
                {{'thingplus.alarm-type.unconnected' | translate}}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start center">
        <div fxFlex="100" fxLayout="column" class="input-box">
          <div class="label-box" fxLayout="row" fxLayoutAlign="start center">
            <label translate>thingplus.label.electric-quality</label>
          </div>
          <div
            class="group-box"
            fxFlex="100"
            fxLayout="column"
            fxLayoutAlign="start stretch"
            fxLayoutGap="1em"
            formGroupName="electricQuality"
          >
            <div fxFlex="100" fxLayoutAlign="space-between center">
              <mat-checkbox fxFlex="50" formControlName="over-current" disabled>
                {{'thingplus.alarm-type.over-current' | translate}}
              </mat-checkbox>
              <mat-checkbox fxFlex="50" formControlName="low-voltage" disabled>
                {{'thingplus.alarm-type.low-voltage' | translate}}
              </mat-checkbox>
            </div>
            <div fxFlex="100" fxLayoutAlign="space-between center">
              <mat-checkbox fxFlex="50" formControlName="high-voltage" disabled>
                {{'thingplus.alarm-type.high-voltage' | translate}}
              </mat-checkbox>
              <mat-checkbox fxFlex="50" formControlName="volt-imbalance" disabled>
                {{'thingplus.alarm-type.volt-imbalance' | translate}}
              </mat-checkbox>
            </div>
            <div fxFlex="100" fxLayoutAlign="space-between center">
              <mat-checkbox fxFlex="50" formControlName="curr-imbalance" disabled>
                {{'thingplus.alarm-type.curr-imbalance' | translate}}
              </mat-checkbox>
              <mat-checkbox fxFlex="50" formControlName="thd" disabled>
                {{'thingplus.alarm-type.thd' | translate}}
              </mat-checkbox>
            </div>
            <div fxFlex="100" fxLayoutAlign="space-between center">
              <mat-checkbox fxFlex="50" formControlName="power-factor" disabled>
                {{'thingplus.alarm-type.power-factor' | translate}}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="1em">
      <button
        class="button close-button"
        [disabled]="(isLoading$ | async)"
        type="button"
        (click)="cancel()"
        cdkFocusInitial
        translate
      >
        thingplus.action.close
      </button>
    </div>
  </form>
</div>
